- @configuration_group ||= ConfigurationGroup.new

= form_for(@configuration_group) do |f|
  .form-group
    %label Add new Configuration Group
    = f.text_field :name, placeholder: 'New Configuration Group', id: 'group', class: 'form-control'
  = f.submit 'Submit', class: 'btn btn-primary'
